{% load static %}

<link rel="stylesheet" href="{% static 'eccentric/main.css' %}">


<link rel="stylesheet" href="{% static 'eccentric/css/color/bgColor.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/color/fontColor.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/color/rootColor.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/general/normalize.css' %}">

<link rel="stylesheet" href="{% static 'eccentric/css/textTag/button.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/textTag/border.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/textTag/font.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/textTag/radius.css' %}">

<link rel="stylesheet" href="{% static 'eccentric/main.css' %}">


<link rel="stylesheet" href="{% static 'eccentric/css/size/height.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/size/margin.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/size/padding.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/size/width.css' %}">
<link rel="stylesheet" href="{% static 'eccentric/css/display/flex.css' %}">

<link rel="stylesheet" href="{% static 'style.css' %}">